/*********************\ 
*@  Made By Jay \o/  @*
\*********************/

@font-face {
    font-family: poiret_one;
    src: url(fonts/poiret_one/poiretone-regular.ttf));
}
@font-face {
    font-family: press_start_2p;
    src: url(fonts/press_start_2p/pressstart2p-regular.ttf);
}
@font-face {
    font-family: pixie;
    src: url(fonts/pro-pixie-font/procrastinatingpixie.ttf);
}

.header {
    height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    color: lightgrey;
	position: relative;
	width: 50%;
	min-width: 300px;
	height: 50px;
	border: 10px solid transparent;
	border-top: 10px solid lightgrey;
	border-left: 10px solid lightgrey;
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25) inset;
}
.header::after {
	content: '';
	position: absolute;
	top: -10px;
	right: -10px;
	width: 30%;
	height: 49px;
	border: 10px solid transparent;
	border-bottom: 10px solid lightgrey;
	border-right: 10px solid lightgrey;
	transition: 0.3s linear all;
}
.header > .logo {
	position: absolute;
	top: calc(50% - 20px);
	left: 10px;
	transform: translateY(-50%);
    color: lightgrey;
	font-family: 'Parisienne', cursive;
	cursor: default;
	user-select: none;
}
.slider-menu {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	z-index: 1;
}
.slider-menu > li {
	display: inline-flex;
	padding: 14px;
	margin-left: 2px;
	font-family: 'Quicksand', sans-serif;
    color: lightgrey;
	cursor: pointer;
	transition: 0.3s linear all;
	user-select: none;
}
.slider-menu > li:hover {
	color: #faa;
	box-shadow: 0 50px 5px rgba(0, 0, 0, 0.15) inset;
}
.intro {
    color: lightgrey;
    text-align: center;
    font-family: poiret_one, Arial;
}
.name {
    color: lightgrey;
    text-align: center;
    font-family: press_start_2p, Arial;
}
.firstname {
    color: plum;
}
.aboutTitle {
    color: plum;
    font-family: poiret_one, Arial;
}
.about {
    color: lightgray;
    font-family: poiret_one, Arial;
}
.footer {
    color: lightgrey;
}
.links {
    font-size: 10px;
    text-decoration: none;
    text-align: left;
    padding: 15px;
    text-shadow: 10px;
    font-family: press_start_2p, Arial;
}
.links:link {
    color: lightgrey;
}
.links:visited {
    color: lightgrey;
}
.links:hover {
    color: grey;
}
.links:active {
    color: lightgrey;
}

html {
    background-color: #1c1b22;
}

table {
    text-align: left;
    margin-right: auto;
    padding-right: 10%;
}
